h1{
  text-align: center; font-size: 100px; color:#fc3d73
}
 p {
   font-size: 30px;
   text-align: center;
 }
#frase01{
 font-size: 65pX
}

#gtn{
  width: 30%
}
body{
  background-color:#d8d8d8
}
#gatinho01{
 width: 32%;
  border: 10px solid #000000;
  border-radius: 10px
}

#gatinho02{
  width: 32%;
  border: 10px solid #000000;
border-radius: 10px;
}
#gatinho08{
  width: 32%;
  border: 10px solid #000000;
border-radius: 10px;
}
#gatinho09{
  width: 32%;
  border: 10px solid #000000;
border-radius: 10px;
}
#gatinho03{
  width: 27%;
  border: 10px solid #000000;
border-radius: 10px;
}
#gatinho11{
  width: 32%;
  border: 10px solid #000000;
border-radius: 10px;
}

.cat{
  color: #d60257;
  text-align: center;
  font-size: 400%
}
.redes{
  color: green;
  text-align: center;
  font-size: 200%
}
.redes02{
  color: #f07877;
  text-align: center;
  font-size: 200%
}
 .gatinho3{
   margin-left: 650px
 }
